@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

@media (max-width: 1070px) {
    .header {
        background: #111111;
    }
}

