@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #000 url("../../app_account/img/tree.jpg")  center top -250px no-repeat;
}

.header {
    background: hsla(0, 0%, 100%, 0.08);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.13);
}

.header-block-logout-visible,
.header-block-login-visible {
    top: 38px;
}

.ul-languages {
    background: hsla(0, 0%, 100%, 0.08);
    border-left: 1px solid hsla(0, 0%, 100%, 0.13);
    border-right: 1px solid hsla(0, 0%, 100%, 0.13);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.13);
}

.header-search-input {
    background: hsla(0, 0%, 100%, 0.08);
    border: 1px solid hsla(0, 0%, 100%, 0.23);
}

.button-svg-search:hover {
    background-color: rgba(0, 0, 0, 0);
}

.header-search-button-close:hover {
    background-color: rgba(0, 0, 0, 0);
}

.input-search-hidden {
    border: none;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 250px;
}

h1 {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 500;
    margin: 40px 0 7px 0;
}

h2 {
    color: #b8b8b8;
    letter-spacing: 1px;
    font-size: 26px;
}

.legal-theme {
    color: #fff;
    font-size: 40px;
    letter-spacing: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.content a{
    display: block;
    color: #00aeff;
    font-size: 18px;
    padding: 20px;
    letter-spacing: 1px;
    border-top: solid 1px rgba(255, 255, 255, 0.15);
}

.legal-link-end {
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

@media (max-width: 1240px) {
    .content {
        max-width: 95%;
    }
}

@media (max-width: 500px) {
    .legal-theme {
        letter-spacing: 3px;
    }
}

@media (max-width: 350px) {
    .legal-theme {
        font-size: 30px;
    }
}
