@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #000 url("../../app_account/img/tree.jpg")  center top -250px no-repeat;
}

.header {
    background: hsla(0, 0%, 100%, 0.08);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.13);
}

.header-block-logout-visible,
.header-block-login-visible {
    top: 38px;
}

.ul-languages {
    background: hsla(0, 0%, 100%, 0.08);
    border-left: 1px solid hsla(0, 0%, 100%, 0.13);
    border-right: 1px solid hsla(0, 0%, 100%, 0.13);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.13);
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 250px;
}

h1 {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 500;
}

h2 {
    color: #b8b8b8;
    letter-spacing: 1px;
    font-size: 26px;
}

.ul-link {
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    padding: 1em;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

.ul-link > li {
    color: #00aeff;
    cursor: pointer;
    font-size: 18px;
    margin: 7px -8px;
    letter-spacing: 1px;
    display: table;
}

#start-policy {
    letter-spacing: 6px;
    font-weight: 700;
}

#end-policy {
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

b {
    color: #f9f9f9;
}

.ul-in-text {
    list-style: circle;
    margin-bottom: 30px;
}

.ul-in-text li {
    color: #b8b8b8;
    margin: 30px 0 0 50px;
}

#end-text-policy {
    margin-bottom: 80px;
}

#return {
    color: #00aeff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 20px;
}

@keyframes scrollUp {
    50% {
        opacity: .9;
    }
    40% {
        opacity: .7;
    }
    30% {
        opacity: .5;
    }
    20% {
        opacity: .3;
    }
    10% {
        opacity: .1;
    }
    0% {
        opacity: 0;
    }
}

@keyframes scrollDown {
    0% {
        opacity: .9;
    }
    10% {
        opacity: .7;
    }
    20% {
        opacity: .5;
    }
    30% {
        opacity: .3;
    }
    40% {
        opacity: .1;
    }
    50% {
        opacity: 0;
    }
}

#upper {
    position: fixed;
    display: inline-block;
    height: 40px;
    width: 120px;
    border-radius: 30px;
    background-color: #272e3b;
    border: solid 1px #3d434f;
    z-index: 3;
    box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.25);
    bottom: -50px;
    right: 5%;
    color: #00aeff;
    font-size: 17px;
    text-align: center;
    padding: 8px 0;
}

#secret {
    position: absolute;
    bottom: -200px;
}

#upper:hover {
    cursor: pointer;
    transition: color 1s;
}

#arrow-up {
    display: inline-block;
    font-weight: 500;
    margin: 0 5px 0 0;
}

@media (max-width: 1240px) {
    .content {
        max-width: 95%;
    }
}

@media (max-width: 600px) {
    #start-policy {
        letter-spacing: 3px;
    }
}

@media (max-width: 500px) {
    #start-policy {
        font-size: 25px;
        letter-spacing: 2px;
    }
}

@media (max-width: 410px) {
    #start-policy {
        font-size: 20px;
        letter-spacing: 1px;
    }
}
