<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test_forms</title>
</head>
<body>

<form action="search" method="get">
    <label>
        <input type="text" name="q">
    </label>
    <input type="submit" value="Search">
</form>

<form action="search" method="get">
    <label>
        <input type="text" name="qwert">
    </label>
    <input type="submit" value="Search">
</form>

<form action="file-input" method="post">{% csrf_token %}
    <label>Ваше Имя <input type="text" name="name"></label><br>
    <label>Ваша фамилия<input type="text" name="surname"></label><br>
    <label>Ваша дата рождения<input type="text" name="birth"></label><br>
    <label>Ваш пол<br><input type="radio" name="gender" value="male">Мужчина</label><br>
    <label><input type="radio" name="gender" value="female">Женщина</label><br>
    <button type="submit">Запись в фаил</button>
</form>

</body>
</html>