@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #000 url("../../account/img/tree.jpg")  center top -250px no-repeat;
}

.header {
    background-color: hsla(0, 0%, 100%, 0.08);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.13);
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 250px;
}

h1 {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 500;
}

h2 {
    color: #b8b8b8;
    letter-spacing: 1px;
    font-size: 26px;
}

.license_agreement {
    color: #fff;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 70px;
}

#end-text-license-agreement {
    margin-bottom: 80px;
}

#end-license-agreement {
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

#return {
    color: #00aeff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 20px;
}

@media (max-width: 1240px) {
    .content {
        max-width: 95%;
    }
}

@media (max-width: 700px) {
    .license_agreement {
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 30px;
    }
}

@media (max-width: 410px) {
    .license_agreement {
        font-size: 25px;
        letter-spacing: 1px;
    }
}