ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}

ul > li:hover {
  border-bottom: 3px #ff0006;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: #808080;
    background-color: #000000;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
    color: #0abaf5;

}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: #7b7b7b;
    border: 1px solid #000000;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: #878787;
    background-color: #000000;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    color: #ffffff;
}

ul.menu > li:hover > .submenu {
    display: block;
}

