@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    font-weight: 600;
    font-size: 15px;
    color: #b8b8b8;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    background-color: #2a2a2a;
}

.header-desktop {
    max-width: 1920px;
    margin: 0 auto;
}

.header-desktop a, .header-desktop a:visited, .header-desktop a:active {
    color: #b8b8b8;
}

.header-desktop a:hover {
    color: #ffda1e;
}

.header-desktop .header-logo {
    font-size: 20px;
    display: inline-block;
    margin: 0 10px 0 10px;
    color: #0abaf5;
}

.header-desktop .header-items {
    display: inline-block;
}

.header-desktop .header-items .header-menu-my-sites {
    position: relative;
    color: #e0e1e1;
    text-shadow: 0 0 15px #d6d6d6, 0 0 30px rgba(255, 255, 255, 0.31);
}

.header-desktop .header-items .header-menu-my-sites .hiden {
    position: absolute;
    height: 100px;
    width: 100px;
    visibility: hidden;
    top: 120px;
    background-color: #ff1a1f;
}

.header-desktop .header-items .header-menu-my-sites .header-menu-my-sites:hover > .hiden {
    visibility: visible;
}

.header-desktop .header-items a > div {
    display: inline-block;
    padding: 10px;
}

.header-desktop .header-profileItems {
    display: inline-block;
    margin: 10px;
    float: right;
}

.header-desktop .header-profileItems .header-profileItems-menu {
    display: inline-block;
}

.header-desktop .header-profileItems a > div {
    display: inline-block;
    margin-left: 20px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
  float: left;
  position: relative;
}

ul > li:hover {
  border-bottom: 3px #ff0006;
}

ul.menu > li > a {
  display: block;
  padding: 10px;
  color: #808080;
  background-color: #000000;
  text-decoration: none;
}

ul.menu > li > a:hover {
  background-color: black;
  color: #0abaf5;
}

ul.submenu {
  display: none;
  position: absolute;
  width: 120px;
  top: 37px;
  left: 0;
  background-color: #7b7b7b;
  border: 1px solid #000000;
}

ul.submenu > li {
  display: block;
}

ul.submenu > li > a {
  display: block;
  padding: 10px;
  color: #878787;
  background-color: #000000;
  text-decoration: none;
}

ul.submenu > li > a:hover {
  color: #ffffff;
}

ul.menu > li:hover > .submenu {
  display: block;
}


@media (max-width: 1920px) {
    .header-desktop {
        max-width: 1600px; }
}


