@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

:root {
  --header-links-color: #ffda1e;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    font-weight: 600;
    font-size: 15px;
    color: #b8b8b8;
}

a {
    text-decoration: none;
}

.shadow,
.shadow-login {
    position: fixed;
    display: none;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 98;
}

.header {
    position: relative;
    height: 39px;
    width: 100%;
    background: rgba(39, 39, 40, .95) radial-gradient(ellipse farthest-side at center, #2a2a2a 0%,
                rgba(39, 39, 40, .95) 100%);
    z-index: 99;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.header-desktop {
    max-width: 1920px;
    margin: 0 auto;
}

.header-desktop a, .header-desktop a:visited, .header-desktop a:active {
    color: #b8b8b8;
}

.header-desktop a:hover {
    color: #ffda1e;
}

.header-logo {
    font-size: 20px;
    display: inline-block;
    margin: 0 10px 0 20px;
    color: #0abaf5;
}

.header-items,
.header-menu,
.header-menu-shadow,
#arrow-logout,
#arrow-login,
.header-profileItems .header-search-menu,
.header-profileItems .header-languages-menu,
.header-profileItems .header-login,
.header-profileItems .header-logout{
    display: inline-block;
}

.header-items a > div {
    display: inline-block;
    padding: 10px;
}

.header-menu {
    position: relative;
    margin-right: 16px;
    padding: 10px;
    color: #e0e1e1;
    text-shadow: 0 0 15px #d6d6d6, 0 0 30px rgba(255, 255, 255, 0.31);
}

.header-menu-shadow {
    position: relative;
    margin-right: 16px;
    padding: 10px;
}

.header-menu:hover {
    cursor: pointer;
}

.header-menu-shadow:hover {
    cursor: pointer;
}

.header-menu:hover #arrow {
    color: #e0e1e1;
    text-shadow: 0 0 15px #d6d6d6, 0 0 30px rgba(255, 255, 255, 0.31);
}

.header-menu-shadow:hover #arrow {
    color: #ffda1e !important;
}

#arrow {
    position: absolute;
    right: -14px;
    color: #b8b8b8;
    font-size: 24px;
    font-weight: 600;
    text-shadow: none;
}

.arrow-up {
    top: 4px;
}

.arrow-down {
    top: 6px;
}

.cube-menu {
    position: absolute;
    display: none;
    bottom: -9px;
    right: -14px;
    height: 10px;
    width: 10px;
    background: #1b2331;
    border-top: 1px solid rgba(255,255,255,.15);
    border-right: 1px solid rgba(255,255,255,.15);
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    -ms-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 101;
}

.hidden-menu {
    position: relative;
    display: none;
    height: 200px;
    width: 100%;
    background: rgba(21, 26, 35, .65) radial-gradient(ellipse farthest-side at center top, #283244 0%,
                rgba(21, 26, 35, .85) 100%);
    border-top: solid 1px rgba(255, 255, 255, .15);
    border-bottom: solid 1px rgba(255, 255, 255, .15);
    z-index: 100;
}

.hidden-menu-visible {
    position: relative;
    top: -1px;
    display: block;
    height: 200px;
    width: 100%;
    background: rgba(21, 26, 35, .65) radial-gradient(ellipse farthest-side at center top, #283244 0%,
                rgba(21, 26, 35, .85) 100%);
    border-top: solid 1px rgba(255, 255, 255, .15);
    border-bottom: solid 1px rgba(255, 255, 255, .15);
    z-index: 100;
}

.header-profileItems {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    float: right;
}

.header-search-menu {
    position: absolute;
    top: 9px;
    left: -130px;
    margin: 0 15px 0 25px;
}

.svg-search {
    width: 20px;
    height: 20px;
    fill: #b8b8b8;
    stroke: #b8b8b8;
    stroke-width: 10;
    cursor: pointer;
}

.svg-search:hover {
    fill: #ffda1e;
    stroke: #ffda1e;
}

.header-languages-menu {
    position: absolute;
    top: 3px;
    left: -50px;
    padding: 6px;
    cursor: pointer;
}

.header-languages-menu-inactive {
    position: absolute;
    top: 3px;
    left: -50px;
    padding: 6px;
    cursor: default;
}

.svg-languages {
    width: 22px;
    height: 21px;
    fill: #b8b8b8;
    stroke: #b8b8b8;
    stroke-width: 10;
}

.svg-languages:hover {
    fill: #ffda1e;
    stroke: #ffda1e;
}

.ul-languages {
    position: absolute;
    display: none;
    top: 20px;
    right: -82px;
    background: rgba(39, 39, 40, .75) radial-gradient(ellipse farthest-side at center, #2a2a2a 0%,
                rgba(39, 39, 40, .75) 100%);
    width: 200px;
    padding: 8px 0;
    list-style: none;
    text-align: center;
    z-index: 101;
}

.header-languages-menu:hover .ul-languages {
    display: block;
}

li > a {
    display: block;
    font-size: 13px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
}

li > a:hover {
    color: #ffda1e;
}

.color-shadow-svg {
    fill: #676767 !important;
    stroke: #676767 !important;
}

.color-shadow-svg-languages {
    fill: rgba(66, 66, 66, 0.85) !important;
    stroke: rgba(66, 66, 66, 0.85) !important;
}

.color-shadow-svg:hover {
    fill: #ffda1e !important;
    stroke: #ffda1e !important;
}


.header-login,
.header-logout {
    position: relative;
    margin: 0 0 0 10px;
}

.header-login-menu,
.header-logout-menu,
.header-login-menu-shadow,
.header-logout-menu-shadow {
    cursor: pointer;
    position: relative;
    color: #b8b8b8;
    padding: 10px;
}

.header-login-menu:hover,
.header-logout-menu:hover {
    color: #e0e1e1;
    cursor: pointer;
}

#arrow-login,
#arrow-logout{
    position: absolute;
    top: 6px;
    right: -14px;
    color: #b8b8b8;
    font-size: 24px;
    font-weight: 600;
    text-shadow: none;
}

.arrow-login-up {
    top: 4px;
}

.arrow-login-down {
    top: 6px;
}

.header-login-menu:hover #arrow-login,
.header-logout-menu:hover #arrow-logout {
    color: #e0e1e1;
    text-shadow: 0 0 15px #d6d6d6, 0 0 30px rgba(255, 255, 255, 0.31);
}

.header-login-menu-shadow:hover #arrow-login,
.header-logout-menu-shadow:hover #arrow-logout {
    cursor: pointer;
    color: var(--header-links-color) !important;
    text-shadow: 0 0 15px #d6d6d6, 0 0 30px rgba(255, 255, 255, 0.31);
}

.header-block-logout,
.header-block-login {
    position: absolute;
    display: none;
    top: 38px;
    right: -26px;
    background: rgba(21, 26, 35, .65) radial-gradient(ellipse farthest-side at center top, #283244 0%,
                rgba(21, 26, 35, .85) 100%);
    border: solid 1px rgba(255, 255, 255, .15);
}

.header-block-logout-visible,
.header-block-login-visible {
    position: absolute;
    display: block;
    top: 39px;
    right: -26px;
    background: rgba(21, 26, 35, .65) radial-gradient(ellipse farthest-side at center top, #283244 0%,
                rgba(21, 26, 35, .85) 100%);
    border: solid 1px rgba(255, 255, 255, .15);
}


#cube-block-logout,
#cube-block-login {
    position: absolute;
    top: -1px;
    right: 11px;
    height: 10px;
    width: 10px;
    background: #191e27;
    border-top: 1px solid rgba(255,255,255,.15);
    border-right: 1px solid rgba(255,255,255,.15);
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    -ms-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 101;
}

.header-login-button {
    background-color: #0e86ca;
    border: 1px solid #00aeff;
    margin: 20px;
}

.header-login-button:hover {
    background-color: #00aeff;
    border: 1px solid #00aeff;
}

#header-link-login {
    display: block;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    padding: 10px 120px;
    color: #fff;
}

#header-link-params,
#header-link-create,
#header-link-gifts,
#header-link-logout {
    display: block;
    color: #b8b8b8;;
    padding: 10px 20px 16px;
    border-top: solid 1px rgba(255, 255, 255, .15);
}

#header-link-params:hover,
#header-link-create:hover,
#header-link-gifts:hover,
#header-link-logout:hover {
    color: #fff;
}

#header-settings {
    position: relative;
    top: 4px;
    left: -7px;
    width: 20px;
    height: 20px;
    fill: #009fee;
    stroke: #009fee;
    stroke-width: 20;
}

#header-link-params:hover #header-settings {
    fill: #00c6ff;
    stroke: #00c6ff;
}

#header-creation-user {
    position: relative;
    top: 4px;
    left: -7px;
    width: 20px;
    height: 20px;
    fill: #009fee;
    stroke: #009fee;
    stroke-width: 20;
}

#header-link-create:hover #header-creation-user {
    fill: #00c6ff;
    stroke: #00c6ff;
}

#header-gifts {
    position: relative;
    top: 4px;
    left: -7px;
    width: 20px;
    height: 20px;
    fill: #009fee;
    stroke: #009fee;
    stroke-width: 20;
}

#header-link-gifts:hover #header-gifts {
    fill: #00c6ff;
    stroke: #00c6ff;
}

#header-exit-user {
    position: relative;
    top: 4px;
    left: -9px;
    width: 20px;
    height: 20px;
    fill: #009fee;
    stroke: #009fee;
    stroke-width: 20;
}

#header-link-logout:hover #header-exit-user {
    fill: #00c6ff;
    stroke: #00c6ff;
}

.header-logout-user {
    padding: 20px 160px 20px 20px;
}

.header-logout-username {
    color: #7dbcf4;
    margin-bottom: 4px;
    font-size: 18px;
}

.header-logout-email {
    color: #607785;
    font-size: 14px;
}

.color-shadow-profile {
    color: #676767 !important;
}

.color-shadow-profile:hover {
    color: var(--header-links-color) !important;
}

.color-shadow-menu {
    color: #b8b8b8;
}

.color-shadow-menu:hover {
    color: #e0e1e1;
}

.element-visible {
    display: block;
}

.element-fixed-top {
    position: fixed;
    top: -1px;
}

@media (max-width: 1920px) {
    .header-desktop {
        max-width: 1600px; }
}


