@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #002650  center top no-repeat;
    background-size: cover;
}

.header {
    background-color: hsla(0, 0%, 100%, 0.08);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.13);
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 250px;
}