@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    font-weight: 500;
    font-size: 15px;
    background: url("../img/drops_light_circles_blue.jpg");
    background-size: cover;
    text-align: center;
    color: #fff;
}

input {
    text-indent: 10px;
    border-radius: 2px;
    border: 1px solid rgb(124, 124, 124);
    background-color: rgba(28, 28, 28, 0.85);
    height: 3.5vh;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    color: rgb(124, 124, 124);
    font-weight: 700;
}


input:hover {
    border: 1px solid rgb(202, 202, 202);
}

input:focus {
    border: 1px solid rgb(71, 154, 255);
}

button {
    height: 3.5vh;
    border-radius: 2px;
    border: 1px solid #10a1de;
    background-color: #0e86ca;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1.5vh;
}

button:hover {
    background-color: #00aeff;
    cursor: pointer;
}

#link-acc-creation {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

#link-acc-creation:hover {
    color: #4290ff;
}

h1 {
    color: #0abaf5;
    font-size: 3.7rem;
    letter-spacing: .4rem;
    padding-top: 5%;
    margin: 0;
}

h5 {
    margin: 5px 0 0 4px;
    letter-spacing: .7rem;
    text-transform: uppercase;
}

h2, h3, h4, h6 {
    color: #fff;
    margin: 0;
    padding: 20px 0;
}

.content {
    width: 26%;
    height: 100vh;
    margin: 0 auto;
}

.content:after{
    position: absolute;
}

.row5, .row6 {
    position: relative;
    width: 100%;
    height: 3.5vh;
    margin: 1.2vh 0;
}

.line {
    font-size: 13px;
    color: #dcdae1;
    text-transform: uppercase;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 0 12px;
}

.line span:before {
    left: 100%;
    margin-left: 20px;
    width: 500px;
    content: "";
    height: 1px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
}

.line span {
    position: relative;
    display: inline-block;
}

.line span:after{
    right: 100%;
    margin-right: 20px;
    width: 500px;
    content: "";
    height: 1px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
}


.footer {
    position: absolute;
    width: 100%;
    bottom: 3%;
    margin: .6vh 0;
    text-align: center;
}

.footer-link, .footer-link-end {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #d6d4d4;
    font-weight: 600;
    font-size: .9rem;
}

div.footer-link:after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 1px;
    background-color: rgba(255,255,255,.3);
    margin: 0 15px;
    pointer-events: none;
}

.footer-link:hover {
    color: #fff;
}

.row13{
    color: #adb1b4;
    margin: 7px;
}


@media (max-width: 1600px) {
    select {
        background-position: right top;
    }
    .content {
        min-width: 33%;
    }
    .info{
        width: 92%;
    }

}

@media (max-width: 1400px) {
    .content {
        min-width: 40%;
    }
    .info{
        width: 92%;
    }
    .fot
}

@media (max-width: 900px) {
    .content {
        min-width: 66%;
    }
    .info{
        width: 92%;
    }
}

@media (max-width: 700px) {
    .content {
        min-width: 76%;
    }
    .info{
        width: 92%;
    }
}


@media (max-width: 500px) {
    .content {
        min-width: 96%;
    }
    .info{
        width: 90%;
    }
}

@media (max-width: 320px) {
    .content {
        min-width: 96%;
    }
    .info{
        width: 88%;
    }
}