@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
  box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    font-weight: 500;
    font-size: 15px;
    background: #000 url("../img/tree.jpg")  center top -250px no-repeat;
    text-align: center;
    color: #fff;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.content {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 250px;
}


.row1, .row2, .row3,  .row4, .row5, .row6, .row7, .row8, .row9, .row10, .row11, .row12, .row13 {
    position: relative;
    width: 100%;
    margin: 7px 0;
}

.row2, .row3, .row8, .row9 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row7 {
    margin-bottom: 14px;
}

.row11 {
    height: 30px;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid #00aeff;
    background-color: rgba(28, 28, 28, 0.85);
    color: #00aeff;
    font-weight: 700;
}

.row11:hover {
    color: #91e4ff;
    border-color: #0e86ca;
}

.row13 {
    color: #adb1b4;
}

h1 {
    color: #0abaf5;
    font-size: 3.7rem;
    letter-spacing: .4rem;
    padding-top: 20px;
    margin: 0;
}

h2 {
    color: #fff;
    margin: 0;
    padding: 20px 0;
}

h5 {
    margin: 5px 0 0 4px;
    letter-spacing: .7rem;
    text-transform: uppercase;
}


select {
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid rgb(124, 124, 124);
    -webkit-appearance: none;
    background: rgba(28, 28, 28, 0.85) url("../img/sprite-22-select.png") no-repeat right -2px;
    height: 30px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    color: rgb(124, 124, 124);
    font-weight: 700;
}

select > option {
    background: rgba(39, 46, 59, 1);
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    color: rgb(124, 124, 124);
    font-weight: 600;
}


input {
    text-indent: 10px;
    border-radius: 2px;
    border: 1px solid rgb(124, 124, 124);
    background-color: rgba(28, 28, 28, 0.85);
    height: 30px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    color: rgb(124, 124, 124);
    font-weight: 700;
}

input:not(:focus), select:not(:focus) {
    color: rgb(184, 184, 184);
    font-weight: 600;
}

select:hover, input:hover {
    border: 1px solid rgb(202, 202, 202);
}

select:focus, input:focus {
    border: 1px solid rgb(71, 154, 255);
    color: #fff;
    font-weight: 600;
}

/*for input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}

button {
    height: 30px;
    margin: 14px 0 7px ;
    border-radius: 2px;
    border: 1px solid #10a1de;
    background-color: #0e86ca;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}

button:hover {
    background-color: #00aeff;
    cursor: pointer;
}


#link-login {
    text-decoration: none;
}

.name {
    width: 49.3%;
}

.date {
    width: 32.3%;
    margin-bottom: 7px;
}

input[type=email] {
    margin-bottom: 7px;
}

input[type=checkbox] {
    width: 20px;
}

.info {
    color: #f6fafd;
    text-align: start;
    font-size: 14px;
    width: 94%;
    padding: 5px;
}

.info2 {
    color: #adb1b4;
    text-align: start;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}

.policy-link {
    text-decoration: none;
    color: #3cc7ff;
}

.policy-link:hover {
    color: #f8fdff;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
}

.footer-link, .footer-link-end {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #d6d4d4;
    font-weight: 600;
    font-size: .9rem;
}

div.footer-link:after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 1px;
    background-color: rgba(255,255,255,.3);
    margin: 0 15px;
    pointer-events: none;
}

.footer-link:hover {
    color: #fff;
}

@media (max-width: 1025px) {
    body {
        background: #000 url("../img/tree.jpg") center top -300px no-repeat;
    }
}



@media (max-width: 500px) {
    .content {
        max-width: 96%;
    }
}

@media (max-width:470px) {
    .content {
        max-width: 96%;
        padding-bottom: 300px;
    }

    .info {
        width: 92%;
    }
}

@media (max-width:420px) {
    .content {
        max-width: 96%;
        padding-bottom: 300px;
    }

    .info {
        width: 90%;
    }
}

@media (max-width:360px) {
    .content {
        max-width: 96%;
        padding-bottom: 300px;
    }

    .info {
        width: 90%;
    }
}

@media (max-width: 320px) {
    .content {
        max-width: 96%;
        padding-bottom: 300px;
    }
}



























