@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    font-weight: 500;
    font-size: 15px;
    background-image: url("../img/drops_light_circles_blue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.content {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
}

.content:after{
    content: '';
    position: absolute;
}

.row1, .row2, .row3,  .row4, .row5, .row6, .row7, .row8, .row9, .row10, .row11, .row12, .row13 {
    position: relative;
    width: 100%;
    margin: 7px 0;
}

.row2, .row3, .row8, .row9 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row7 {
    margin-bottom: 14px;
}

.row11 {
    height: 30px;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid #00aeff;
    background-color: rgba(28, 28, 28, 0.85);
    color: #00aeff;
    font-weight: 700;
}

.row11:hover {
    color: #91e4ff;
    border-color: #0e86ca;
}

.row13 {
    color: #adb1b4;
}

h1 {
    color: #0abaf5;
    font-size: 3.7rem;
    letter-spacing: .4rem;
    padding-top: 20px;
    margin: 0;
}

h2 {
    color: #fff;
    margin: 0;
    padding: 20px 0;
}

h5 {
    margin: 5px 0 0 4px;
    letter-spacing: .7rem;
    text-transform: uppercase;
}


select {
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid rgb(124, 124, 124);
    -webkit-appearance: none;
    background-color: rgba(28, 28, 28, 0.85);
    background-image: url("../img/sprite-22-select.png");
    background-position: right -2px;
    background-repeat: no-repeat;
    height: 30px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    color: rgb(124, 124, 124);
    font-weight: 700;
}

select > option {
    background: rgba(39, 46, 59, 1);
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    color: rgb(124, 124, 124);
    font-weight: 600;
}


input {
    text-indent: 10px;
    border-radius: 2px;
    border: 1px solid rgb(124, 124, 124);
    background-color: rgba(28, 28, 28, 0.85);
    height: 30px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    color: rgb(124, 124, 124);
    font-weight: 700;
}


select:hover, input:hover {
    border: 1px solid rgb(202, 202, 202);
}

select:focus, input:focus {
    border: 1px solid rgb(71, 154, 255);
    color: #fff;
    font-weight: 600;
}

button {
    height: 30px;
    margin: 14px 0 7px ;
    border-radius: 2px;
    border: 1px solid #10a1de;
    background-color: #0e86ca;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}

button:hover {
    background-color: #00aeff;
    cursor: pointer;
}


#link-login {
    text-decoration: none;
}

.name {
    width: 247px;
}

.date {
    width: 162px;
    margin-bottom: 7px;
}

input[type=email] {
    margin-bottom: 7px;
}

input[type=checkbox] {
    width: 20px;
}

.info {
    color: #f6fafd;
    text-align: start;
    font-size: 14px;
    width: 470px;
    padding: 5px;
}

.info2 {
    color: #adb1b4;
    text-align: start;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}

.policy-link {
    text-decoration: none;
    color: #3cc7ff;
}

.policy-link:hover {
    color: #f8fdff;
}

.footer {
    position: relative;
    width: 200%;
    left: -50%;
    margin-top: 140px;
    text-align: center;
}

.footer-link, .footer-link-end {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #d6d4d4;
    font-weight: 600;
    font-size: .9rem;
}

div.footer-link:after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 1px;
    background-color: rgba(255,255,255,.3);
    margin: 0 15px;
    pointer-events: none;
}

.footer-link:hover {
    color: #fff;
}


.end {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 8%;
}


@media (max-width: 1600px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 900px) {
}

@media (max-width: 700px) {
}

@media (max-width: 500px) {

}

@media (max-width: 320px) {
}





























