{% extends 'base_apps.html' %}
{% load static %}

{% block icon %}
    <link rel="icon" href="{% static 'menu/img/menu.ico' %}" type="icon">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
{% endblock %}

{% block title %}
    start menu
{% endblock %}


{% block navbar %}{% endblock %}

{% block content %}
    <div class="content-info">
        <div class="info">
            <p data-img="img1">инвормация о блоке номер 1</p>
            <p data-img="img2">инвормация о блоке номер 2</p>
            <p data-img="img3">инвормация о блоке номер 3</p>
            <p data-img="img4">инвормация о блоке номер 4</p>
            <p data-img="img5">инвормация о блоке номер 5</p>
            <p data-img="img6">инвормация о блоке номер 6</p>
            <p data-img="img7">инвормация о блоке номер 7</p>
            <p data-img="img8">инвормация о блоке номер 8</p>
            <p data-img="img9">инвормация о блоке номер 9</p>
            <p data-img="img10">инвормация о блоке номер 10</p>
            <p data-img="img11">инвормация о блоке номер 11</p>
            <p data-img="img12">инвормация о блоке номер 12</p>
            <p data-img="img13">инвормация о блоке номер 13</p>
            <p data-img="img14">инвормация о блоке номер 14</p>
            <p data-img="img15">инвормация о блоке номер 15</p>
            <p data-img="img16">инвормация о блоке номер 16</p>
            <p data-img="img17">инвормация о блоке номер 17</p>
            <p data-img="img18">инвормация о блоке номер 18</p>
        </div>
    </div>
    <div class="content">
      <div class="block" id="img1"><a data-img="img1" href="{% url 'tatoo' %}"></a></div>
      <div class="block" id="img2"><a data-img="img2" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img3"><a data-img="img3" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img4"><a data-img="img4" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img5"><a data-img="img5" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img6"><a data-img="img6" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img7"><a data-img="img7" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img8"><a data-img="img8" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img9"><a data-img="img9" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img10"><a data-img="img10" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img11"><a data-img="img11" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img12"><a data-img="img12" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img13"><a data-img="img13" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img14"><a data-img="img14" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img15"><a data-img="img15" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img16"><a data-img="img16" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img17"><a data-img="img17" href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img18"><a data-img="img18" href="{% url 'art3d' %}"></a></div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
    <script src="{% static 'menu/js/menu.js' %}"></script>
{% endblock %}


