{% extends 'base.html' %}
{% load static %}

{% block icon %}
    <link rel="icon" href="{% static 'menu/img/menu.ico' %}" type="icon">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
{% endblock %}

{% block title %}
    start menu
{% endblock %}


{% block header %}{% endblock %}

{% block content %}
    <div class="content">
        <a data-img="img1" href="{% url 'art3d' %}">
            <div class="hexagon hexagon1">
                <div class="hexLeft"></div>
                <div class="hexRight"></div>
            </div>
        </a>
        <a data-img="img2" href="{% url 'cinema' %}">
            <div class="hexagon hexagon2">
                <div class="hexLeft"></div>
                <div class="hexRight"></div>
            </div>
        </a>
        <a data-img="img3" href="{% url 'company' %}">
            <div class="hexagon hexagon3">
                <div class="hexLeft"></div>
                <div class="hexRight"></div>
            </div>
        </a>
        <a data-img="img4" href="{% url 'detective' %}">
            <div class="hexagon hexagon4">
                <div class="hexLeft"></div>
                <div class="hexRight"></div>
            </div>
        </a>
        <a data-img="img5" href="{% url 'games' %}">
            <div class="hexagon hexagon5">
                <div class="hexLeft"></div>
                <div class="hexRight"></div>
            </div>
        </a>
        <a data-img="img6" href="{% url 'planets' %}">
            <div class="hexagon hexagon6">
                <div class="hexLeft"></div>
                <div class="hexRight"></div>
            </div>
        </a>
        <a data-img="img7" href="{% url 'shop' %}">
            <div class="hexagon hexagon7">
                <div class="hexLeft"></div>
                <div class="hexRight"></div>
            </div>
        </a>
        <a data-img="img8" href="{% url 'stickers' %}">
            <div class="hexagon hexagon8">
                <div class="hexLeft"></div>
                <div class="hexRight"></div>
            </div>
        </a>
        <a data-img="img9" href="{% url 'tattoo' %}">
            <div class="hexagon hexagon9">
                <div class="hexLeft"></div>
                <div class="hexRight"></div>
            </div>
        </a>
        <a data-img="img10" href="{% url 'coming_soon' %}">

        </a>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
    <script src="{% static 'menu/js/menu.js' %}"></script>
{% endblock %}


