{% extends 'menu/base.html' %}

{% block title %}
    start menu
{% endblock %}

{% block menu %}
    <div class="content">
      <div class="block" id="img1"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img2"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img3"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img4"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img5"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img6"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img7"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img8"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img9"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img10"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img11"><a href="{% url 'art3d' %}"></a></div>
      <div class="block" id="img12"><a href="{% url 'art3d' %}"></a></div>
    </div>
{% endblock %}


