<html>
	<head>
		<meta charset="utf-8">
		<title>Send Mail Page</title>
		<script type="text/javascript">
		function outlook()
			{
			try {

				//get outlook and create new email
				var outlook = new ActiveXObject('Outlook.Application');
				var email = outlook.CreateItem(0);

				//add some recipients
				email.Recipients.Add(readfile(document.getElementById("searchSrv").value)).Type = 1; //1=To
				email.Recipients.Add('CenterDezfSmSUBDISP@mail.ca.sbrf.ru').Type = 2; //2=CC
				
				
				//Check radiobuttons
				//var tmpl = document.getElementByName("template").value;
				var tmpl = document.querySelector('input[name="template"]:checked').value;
				switch (tmpl)
					{
						case "Standart WAS":
							email.Subject = 'Мониторинг WAS:';
							break;
						case  "WildFly":
							email.Subject = 'Мониторинг WildFly:';
							break;
						case "DataPower":
							email.Subject = 'Мониторинг DataPower:';
							break;
						case  "Oracle":
							email.Subject = 'Мониторинг Oracle:';
							break;
						case "Jenkins":
							email.Subject = 'Мониторинг Jenkins:';
							break;
						case  "MQ":
							email.Subject = 'Мониторинг MQ:';
							break;
						case "Oracle":
							email.Subject = 'Мониторинг Oracle:';
							break;
						case  "MS SQL":
							email.Subject = 'Мониторинг MS SQL:';
							break;
						case  "GoldenGate":
							email.Subject = 'Мониторинг GoldenGate:';
							break;
						case  "SAP HANA":
							email.Subject = 'Мониторинг SAP HANA:';
							break;
						case  "HADOOP":
							email.Subject = 'Мониторинг HADOOP:';
							break;
						case  "GridGain":
							email.Subject = 'Мониторинг GridGain:';
							break;
						case  "Filesystem":
							email.Subject = 'Переполнение ФС:';
							break;
					}
				
				//subject and attachments
				//email.Subject = 'A Subject';
				//email.Attachments.Add('URL_TO_FILE', 1); //1=Add by value so outlook downloads the file from the url

				// display the email (this will make the signature load so it can be extracted)
				email.Display();

				//use a regular expression to extract the html before and after the signature
				var signatureExtractionExpression = new RegExp('/[^~]*(<BODY[^>]*>)([^~]*</BODY>)[^~]*/', 'i');
				signatureExtractionExpression.exec(email.HTMLBody);
				var beforeSignature = RegExp.$1;
				var signature = RegExp.$2;

				//set the html body of the email
				email.HTMLBody = beforeSignature + 'Доброго времени суток, коллеги!' + signature;

				} catch(ex) {
				//something went wrong
				}
			}
		function readfile(servername)
			{
				var fso = new ActiveXObject('Scripting.FileSystemObject');
				var f = fso.OpenTextFile('\\\\ub-file02.sbcorp.ub.sbrf.ru\\Files\\9016\\Уральский банк ПАО Сбербанк\\УТСиТ\\ОТСиТ\\_Диск_Z\\db\\Дежурная смена\\SendMail\\' + servername +'.txt',1,true);
				var recipients = f.ReadAll();
				f.Close();
				return recipients;
			}
		function q_admins ()
			{
				var connection = new ActiveXObject("ADODB.Connection");
				var connectionstring = "Data Source=
			}
		</script>
	</head>
	<body>
		<H3><center>Input short server name</center></H3><hr>
		
		<p id="output"></p>
		
		<center><input type="text" id="searchSrv"></center><br>
		
		<center><b>Please choose a template:</b></center><br>
		<table width =50% align="center">
			<tr>
				<th align="left">SASP</th>
				<th align="left">SUBD</th>
			</tr>
			<tr>
				<td><input type="radio" id="standartWAS" name="template" value="Standart WAS" checked><label for="standartWAS">StandartWAS</label></td>
				<td><input type="radio" id="Oracle" name="template" value="Oracle"><label for="Oracle">Oracle</label></td>
			</tr>
			<tr>
				<td><input type="radio" id="WildFly" name="template" value="WildFly"><label for="WildFly">WildFly</label></td>
				<td><input type="radio" id="MS SQL" name="template" value="MS SQL"><label for="MS SQL">MS SQL</label></td>
			</tr>
			<tr>
				<td><input type="radio" id="DataPower" name="template" value="DataPower"><label for="DataPower">DataPower</label></td>
				<td><input type="radio" id="GoldenGate" name="template" value="GoldenGate"><label for="GoldenGate">GoldenGate</label></td>
			</tr>
			<tr>
				<td><input type="radio" id="Jenkins" name="template" value="Jenkins"><label for="Jenkins">Jenkins</label></td>
				<td><input type="radio" id="SAP HANA" name="template" value="SAP HANA"><label for="SAP HANA">SAP HANA</label></td>
			</tr>
			<tr>
				<td><input type="radio" id="MQ" name="template" value="MQ"><label for="MQ">MQ</label></td>
				<td><input type="radio" id="HADOOP" name="template" value="HADOOP"><label for="HADOOP">HADOOP</label></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="radio" id="GridGain" name="template" value="GridGain"><label for="GridGain">GridGain</label></td>
			</tr>
			<tr>
				<td colspan="2"><center><input type="radio" id="Filesystem" name="template" value="Filesystem"><label for="Filesystem">Filesystem</label></center></td>	
			</tr>
		</table>
		<br><center><button type="button" onclick="outlook()">Send mail</button></center>
		<br><center><button type="button" onclick="q_admins()">Test database</button></center>
	</body>
</html>












