{% extends 'base_apps.html' %}
{% load static %}

{% block icon %}
    <link rel="icon" href="{% static 'aboutMe/img/rypy.ico' %}" type="icon">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'aboutMe/css/aboutMe.css' %}">
{% endblock %}

{% block title %}
    Evgeny Gurin
{% endblock %}


{% block navbar %}

{% endblock %}

{% block content %}
    <h5>Hello world!!!</h5>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
    <script src="{% static 'tatoo/aboutMe/aboutMe.js' %}"></script>
{% endblock %}