{% extends 'base_apps.html' %}
{% load static %}

{% block meta %}
    <meta name="description" content="Сайт-визитка разработчик Евгений Гурин.">
    <meta name="keywords" content="Evgeny Gurin, Evgeny, Gurin, Python, Django, JS">
{% endblock %}

{% block icon %}
    <link rel="icon" href="{% static 'aboutMe/img/rypy.ico' %}" type="ico">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'aboutMe/css/aboutMe.css' %}">
{% endblock %}

{% block title %}
    Evgeny Gurin
{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}
    <div class="content-name">
        <div class="name">
            <h1>Evgeny Gurin</h1>
            <h3>Full Stack Developer</h3>
        </div>
    </div>
    <div class="content">
        <div class="photo">
            <img src="{% static 'aboutMe/img/photo.jpg' %}" alt="Evgeny Gurin">
        </div>
        <div class="info">
            <div class="mySite">
                <h2><a href={% url "menu" %}>my projects</a></h2>
            </div>
            <div class="contacts">
                <h3>contacts</h3>
                <a class="link linkedin" href="https://www.linkedin.com/in/евгений-гурин-a26584172/"></a>
                <a class="link github" href="https://github.com/3D5EE1"></a>
                <a class="link mail" href="mailto:rypylook@outlook.com"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    <script src="{% static 'aboutMe/js/aboutMe.js' %}"></script>
{% endblock %}















