{% extends 'acc-base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" content="страница авторизация разработчик Евгений Гурин.">
    <meta name="keywords" content="Evgeny Gurin, registration, rypy.ru, Python, Django, JS">
{% endblock %}

{% block icon %}
    <link rel="icon" href="{% static 'menu/img/menu.ico' %}" type="ico">
{% endblock %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'templates/css/base-header-dark.css' %}">
    <link rel="stylesheet" href="{% static 'templates/css/acc-base-footer.css' %}">
    <link rel="stylesheet" href="{% static 'templates/css/base-footer-dark.css' %}">
{% endblock base_css %}

{% block css %}
    <link rel="stylesheet" href="{% static 'about_me/css/privacy-policy.css' %}">
{% endblock %}

{% block title %}
    Политики конфиденциальности rypy.ru entertainment
{% endblock %}

{% block login %}
    <a href="{% url 'login' site_redirect='menu' %}">
        <div class="header-login">ВХОД</div>
    </a>
{% endblock %}

{% block logout %}
    <a href="{% url 'menu_logout' %}">
        <div class="header-logout">ВЫХОД</div>
    </a>
{% endblock %}

{% block navbar %}{% endblock %}

{% block acc-content %}
    <div class="content">
        <h1 id="start-policy">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1>
        <ul class="ul-link">
            <li class="question">1. Вопрос номер 1 ?</li>
            <li class="question">2. Вопрос номер 2 ?</li>
            <li class="question">3. Вопрос номер 3 ?</li>
            <li class="question">4. Вопрос номер 4 ?</li>
            <li class="question">5. Вопрос номер 5 ?</li>
            <li class="question">6. Вопрос номер 6 ?</li>
            <li class="question">7. Вопрос номер 7 ?</li>
            <li class="question">8. Вопрос номер 8 ?</li>
            <li class="question">9. Вопрос номер 9 ?</li>
            <li class="question">10. Вопрос номер 10 ?</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum dignissimos fugiat in modi neque
            quos sunt! At facere id odio quisquam? Accusantium aliquam consequuntur doloribus fugiat illum qui quod
            reprehenderit veniam voluptatem. Alias, aliquam aperiam doloribus exercitationem harum, impedit modi, odio
            praesentium quam veniam veritatis vero voluptates voluptatum?</p>
        <h1 class="answer">1. Ответ на вопрос номер 1.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, laboriosam.</p>
        <p><b>Lorem ipsum dolor sit amet,</b> consectetur adipisicing elit. Architecto asperiores consequuntur delectus
            eos ex exercitationem iste natus officiis porro temporibus? Laboriosam molestiae officiis quo voluptate.
            A dolorum nobis, numquam obcaecati odit repellat rerum vitae. Eligendi error ex facilis incidunt omnis
            perferendis saepe, sint tenetur. Accusamus amet delectus eveniet ex facilis fuga hic id ipsam ipsum itaque
            magnam magni modi nesciunt nulla obcaecati placeat porro qui quod repellendus sequi vel veritatis,
            voluptate! Aliquid aspernatur consectetur consequatur cupiditate, dolore expedita quisquam voluptatibus!
            Architecto enim id quibusdam tenetur veritatis! Mollitia, veritatis, voluptate! A autem enim maxime odit
            perferendis quasi veniam? Consequuntur error, nam?</p>
        <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing.</b> Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Amet esse hic, itaque nostrum tempore vero. Assumenda beatae deleniti dignissimos ea
            expedita id inventore molestiae porro quidem sed! Amet quasi sit voluptas. Assumenda cupiditate doloribus
            in maxime molestiae neque quam tempora.</p>
        <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, mollitia?</b> Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Ab accusamus, beatae consectetur culpa cupiditate dolore doloribus ea
            et eum excepturi exercitationem expedita explicabo facere fugit impedit ipsa iure nam nesciunt officiis
            optio repudiandae saepe similique soluta sunt suscipit totam, vero. Incidunt, ipsum itaque maiores neque
            nisi numquam omnis rem vero.</p>
        <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad dignissimos eligendi esse et
            molestias quae qui quo rem vitae! Alias commodi dolor dolorem ducimus eaque eligendi error esse et ipsam
            laborum magnam minus numquam, optio pariatur perspiciatis, placeat porro repellat sint suscipit totam!
            Consequatur cum cupiditate delectus earum exercitationem hic incidunt inventore ipsam, molestias provident
            quibusdam quos repudiandae temporibus!</b></p>
        <h1 class="answer">2. Ответ на вопрос номер 2.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti dolor dolorem eos est id itaque
            laboriosam officia, omnis perferendis quis, sequi similique ullam? Autem expedita explicabo iure sapiente
            ullam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eos molestiae nulla officia omnis
            quaerat soluta? Assumenda cum delectus dicta harum repudiandae. Aspernatur corporis dignissimos ut. Eius ex
            impedit nostrum praesentium rem sequi similique soluta tempore voluptas voluptatibus. Adipisci aut
            distinctio earum ex, exercitationem sint totam voluptatem. Officiis?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore et eum iste laborum minima molestiae
            nesciunt reiciendis unde vel.</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aspernatur, blanditiis distinctio ipsa
            magni nemo possimus quam quis reprehenderit similique temporibus, ut voluptatibus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea facere fugit ipsa quia sed similique soluta
            voluptatem?</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eveniet iste necessitatibus odit provident
            quo, rem repellendus ullam vitae voluptatum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid consectetur dolores ea et ex id
            ipsa, minus mollitia officiis perferendis praesentium tempore voluptatem. Est explicabo labore quo quod
            voluptatum!</p>
        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto commodi, consectetur deleniti
            distinctio dolores dolorum eligendi explicabo fugiat fugit labore laudantium maiores neque quasi repellat
            reprehenderit, repudiandae sequi vel veritatis vero voluptate!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, soluta tempore. Asperiores aspernatur beatae
            cum eligendi enim nobis perspiciatis saepe sapiente sint suscipit! Accusamus aliquam asperiores blanditiis
            consequuntur dolor dolorem, earum esse fugit harum id, ipsa ipsam nesciunt nostrum omnis, quaerat quam saepe
            sequi velit! Corporis dolorem doloribus incidunt itaque laudantium non nostrum recusandae ullam.</p>
        <h1 class="answer">3. Ответ на вопрос номер 3.</h1>
        <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet at dignissimos </b> dolor doloribus
            ducimus eligendi eos eveniet exercitationem expedita ipsa, libero mollitia neque non odit optio perspiciatis
            porro provident quis ullam! Ad amet, debitis dignissimos dolores modi numquam omnis quaerat, quia quibusdam
            quidem repellendus reprehenderit tempora veniam. Adipisci alias architecto autem consequatur cumque delectus
            deserunt dignissimos doloribus, error fugit hic inventore itaque maxime nostrum obcaecati odit optio placeat
            quaerat quisquam quo rem repudiandae rerum, sunt velit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid aperiam assumenda consequuntur inventore
            labore numquam omnis perspiciatis quos saepe!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, doloremque necessitatibus. Ad aliquid, amet
            animi architecto, autem commodi consequuntur cupiditate deleniti distinctio dolore doloremque, dolores
            dolorum error eum exercitationem harum ipsum laudantium magni minus nihil nisi nostrum nulla odio pariatur
            perferendis provident quas ratione similique sit sunt totam veritatis voluptas voluptates! Consectetur
            corporis cumque esse, eum illo iusto laudantium molestiae, nobis nostrum quia rem repudiandae vero
            voluptates. Ad amet corporis dignissimos doloribus facere facilis, ipsam neque, pariatur quam quasi quia
            quisquam, repudiandae tempore voluptas voluptatibus. Animi assumenda consectetur doloremque excepturi odit
            quis voluptates! Iure laborum neque nihil, optio quis rerum voluptate voluptatibus! Accusamus beatae et ex
            id iste mollitia perferendis qui sed. Accusamus aliquid animi autem consequatur cupiditate deserunt et
            facilis fuga ipsum maiores nulla officia qui quis quo quod ratione recusandae, reiciendis sapiente sequi
            sint totam ullam?</p>
        <h1 class="answer">4. Ответ на вопрос номер 4.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem id placeat soluta. At cumque dolor ducimus
            error fugit iste iure labore modi nesciunt officiis quam, quos repudiandae totam unde ut! Alias,
            consequuntur debitis deleniti deserunt dolorum, eveniet hic inventore magni minus nobis odio odit officiis
            pariatur placeat quo saepe, sapiente ullam! Accusamus ea eos, expedita id pariatur quas quidem quisquam quo
            saepe suscipit. Amet animi aperiam, corporis deserunt dolore iusto nesciunt obcaecati, quos ratione saepe
            tempora vel veniam voluptates! Eveniet.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, facilis, sapiente.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim maiores nihil optio?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eligendi praesentium quidem
                similique!</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque doloribus impedit minus reiciendis
                vitae.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore fugit id, quo reiciendis sed ullam.
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos modi natus quidem repudiandae
                rerum sit. Deserunt!</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur deserunt illum laudantium nemo
                veniam. Accusamus, illo iure?</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur explicabo iste nesciunt provident
            quaerat ratione saepe sint tempore?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sunt vitae voluptas. Aliquam aut id officia
            optio quaerat. Adipisci commodi maiores quasi sunt?</p>
        <h1 class="answer">5. Ответ на вопрос номер 5.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, minima, molestiae. Aliquid assumenda
            dolorem doloribus facere minima perspiciatis porro possimus, praesentium quasi, reiciendis voluptatem?</p>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <p>Lorem ipsum dolor.</p>
        <p>Lorem ipsum.</p>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem.</p>
        <p>Lorem ipsum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quia, reiciendis.</p>
        <h1 class="answer">6. Ответ на вопрос номер 6.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cumque cupiditate facilis ipsum quas
            rerum sint ut voluptate! Accusantium, aperiam at dolor est facilis fugit illum in magnam neque provident quo
            repellat, reprehenderit saepe, sed voluptatem! A animi assumenda autem beatae blanditiis cum cupiditate
            deserunt doloremque doloribus ea earum est eveniet explicabo facilis id iste itaque iure iusto libero
            molestiae non nostrum nulla odit omnis quae quaerat quidem quod quos ratione saepe sequi similique sint, sit
            tenetur, voluptate voluptatibus voluptatum! Architecto, earum modi necessitatibus nobis non tenetur.
            Accusamus aliquam assumenda beatae blanditiis dolores dolorum ea harum itaque iusto maiores, minima nesciunt
            nihil, nulla sint vel! Aliquid, aut dolore dolores dolorum eius expedita itaque minima nam perspiciatis,
            reprehenderit sint tempore veniam. Accusantium ad enim error est ex facere facilis, id ipsa iste modi
            mollitia necessitatibus nisi omnis perspiciatis quaerat qui quis rem temporibus, ut vel! Consequuntur eos
            odit porro veritatis voluptatem.</p>
        <h1 class="answer">7. Ответ на вопрос номер 7.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, voluptatum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae est expedita illo, ipsa minus omnis
            veritatis voluptatum. Asperiores beatae cumque, dolorum esse eveniet fugiat harum nisi odio officiis
            perferendis porro quae quis, quod quos, rerum sint temporibus totam voluptate! Ab aliquam animi, architecto
            assumenda blanditiis consectetur cum dicta dolorem, ducimus earum eligendi enim error eveniet expedita
            facilis harum hic laboriosam laborum magnam nam necessitatibus nostrum officiis perspiciatis placeat
            praesentium quasi quidem quos recusandae rem reprehenderit rerum suscipit totam veritatis. Aspernatur,
            beatae cum dolorem est facere fuga inventore ipsa, ipsum iste laborum libero maxime mollitia natus officia
            omnis perspiciatis placeat possimus quam quisquam reiciendis saepe similique ullam ut! Aliquid dolor
            ducimus, eligendi est et excepturi facilis id illo illum in nemo neque odit quam quis quo rem rerum sit
            soluta temporibus tenetur. Adipisci animi autem expedita inventore iure obcaecati quia veniam? Asperiores
            autem cum cumque, cupiditate deserunt dolorem eius fugiat incidunt inventore ipsam labore libero nihil non
            nulla quisquam quos reiciendis tempora totam veniam voluptatem? Ad aut corporis, cumque dignissimos itaque
            magnam maxime nemo nobis non quasi repellendus vitae! Cupiditate incidunt iste laudantium rerum. Ab aliquid,
            aut dolor doloremque earum eligendi facilis iusto nisi nobis quas repellendus, unde. Quas, reiciendis,
            repellat.</p>
        <h1 class="answer">8. Ответ на вопрос номер 8.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias architecto, asperiores cupiditate dolor
            eos est illum inventore laboriosam molestias nostrum nulla placeat quasi quibusdam quis quod, repellendus
            similique sint unde. Cumque debitis delectus est inventore officia, quaerat quod rerum saepe tempora
            voluptate.</p>
        <p>*Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <p>*Lorem ipsum dolor sit.</p>
        <p>*Lorem ipsum dolor sit amet, consectetur.</p>
        <p>*Lorem ipsum dolor sit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam commodi cupiditate ex mollitia?
            Consectetur, delectus harum illo inventore quisquam totam? Ex officiis, sint? Amet aspernatur beatae
            consequatur cum debitis distinctio dolore doloremque doloribus ducimus earum error esse est, explicabo ipsa,
            ipsam laboriosam magni perferendis praesentium, quis ratione sapiente vel voluptatum? Adipisci aperiam
            consequuntur, dicta dignissimos dolore doloremque dolores earum est et excepturi id inventore iure iusto
            laudantium, minima molestiae non officiis qui quod ratione reprehenderit sequi sunt suscipit unde voluptate!
            Aspernatur debitis, dolores earum inventore ipsa non placeat voluptate? Amet aut beatae, dolorem doloremque
            enim ex non nostrum tempore!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at blanditiis consequuntur cupiditate doloribus
            dolorum illo illum, minima nam placeat quasi quos sunt tempore temporibus unde voluptas voluptates. Aut
            ipsam placeat provident sint!</p>
        <h1 class="answer">9. Ответ на вопрос номер 9.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet consequuntur debitis dolorem doloribus
            est et exercitationem expedita facere impedit iste labore laboriosam nisi, nulla, officiis placeat quisquam
            ullam voluptatum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, iure, maiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid deleniti eos inventore ipsum,
            magnam maxime molestiae natus non numquam quidem quisquam recusandae sequi tempore temporibus, tenetur vel
            voluptate? Autem blanditiis corporis culpa cum doloremque id iusto laborum, numquam quae quas, repellat
            repudiandae, similique tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque harum nihil tenetur voluptatibus.
            Doloremque, inventore, tempora!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab accusamus accusantium ad architecto at autem
            consequatur delectus dicta dignissimos doloribus dolorum eaque eligendi enim eum expedita fuga inventore
            iste itaque, magni maxime minus nemo non obcaecati odit perspiciatis praesentium quibusdam quis ratione
            repellat repudiandae similique tempore ullam ut veritatis voluptas voluptates? Architecto beatae cupiditate
            delectus doloremque eligendi hic libero maxime minus molestias nisi, officiis quidem quisquam quod quos
            soluta temporibus veniam? Adipisci asperiores deserunt fugiat iusto odio possimus ratione tempora! Est,
            numquam, pariatur? Ad assumenda at dignissimos ducimus enim facere illum incidunt labore maiores
            necessitatibus neque optio quaerat quibusdam quis, reiciendis reprehenderit repudiandae suscipit ullam vel
            voluptates? Consequuntur cum doloribus ducimus enim laboriosam nostrum odio, perspiciatis porro, provident
            quia repudiandae saepe tempora. Autem blanditiis culpa deleniti dolorem id minima mollitia nam nihil omnis
            porro quos repellendus reprehenderit sapiente sint sunt tempore, veniam. Asperiores at dignissimos, nobis
            perferendis praesentium provident quam, qui recusandae saepe similique sit sunt voluptatibus voluptatum?
            Alias assumenda atque labore neque odio, perspiciatis quam quis sint sunt! Doloremque eos excepturi fugit
            id illo nemo nostrum optio quaerat quasi quia, quidem reiciendis rem repellendus rerum saepe sequi veritatis
            vero. Adipisci aliquid aperiam aspernatur beatae consectetur corporis et excepturi fugit hic, ipsa, nam
            perferendis praesentium quia reprehenderit repudiandae sequi veniam voluptate. Animi dolorem illum in minima
            praesentium quaerat quasi recusandae repellendus ut veritatis? Aliquam dicta et exercitationem fugiat
            obcaecati quaerat quos ullam vel! Adipisci aliquam at aut commodi consectetur dolore doloribus earum eos
            illo in iste laboriosam, laborum laudantium magnam minima minus molestiae nemo odio praesentium quasi
            quidem quisquam quos repellat sapiente sint tempore ullam ut, velit vitae voluptatibus! Asperiores deserunt
            eligendi harum necessitatibus possimus, unde voluptatibus? Autem, maiores, quasi? Accusantium animi
            consectetur consequuntur deleniti dignissimos distinctio dolores ex itaque iusto numquam officia, pariatur
            quasi velit. Ab atque beatae blanditiis corporis eaque excepturi exercitationem, fuga hic, id ipsam ipsum
            itaque labore laboriosam libero odio officiis praesentium quae quo quos recusandae saepe temporibus ullam
            velit vitae voluptatibus. Atque beatae consectetur culpa doloribus esse nam nesciunt vel! Inventore nihil
            sequi veniam?</p>
        <h1 class="answer">10. Ответ на вопрос номер 10.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur aut consectetur corporis distinctio
            dolore dolorem eos est ex id itaque iusto minima modi molestias nemo nostrum obcaecati optio perferendis
            possimus quae quaerat quis rem repellendus sequi sit, sunt voluptatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis deleniti dolore doloribus nam
            nesciunt nostrum numquam vero! Accusamus, cumque cupiditate enim ipsum molestias omnis pariatur provident,
            quasi quia sed soluta tempore? Aperiam asperiores commodi corporis culpa ducimus illo illum, iste
            necessitatibus optio velit voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores commodi consequatur culpa, dicta
            facere, inventore laborum magnam modi, molestias nobis odio omnis placeat recusandae repellat totam ut
            velit. Consequuntur, ipsa veritatis! Adipisci amet aspernatur autem blanditiis consectetur consequatur
            delectus, deleniti deserunt doloremque enim eos exercitationem expedita laudantium libero minus molestias
            nesciunt nihil quo, quos recusandae repellat repudiandae rerum sapiente sit suscipit vel velit, veritatis?
            Adipisci, architecto asperiores aspernatur assumenda atque commodi dicta dolorum enim esse excepturi fugiat
            hic incidunt ipsam itaque labore maxime molestiae neque odio officia pariatur placeat quam quidem quod
            repellat reprehenderit sapiente similique, temporibus tenetur vel vitae. Accusamus assumenda, at aut
            blanditiis deleniti deserunt dignissimos eligendi et facere illo ipsa ipsum laboriosam nemo neque odio quos
            tempora vero. Animi asperiores consequatur delectus, esse fuga harum iste iusto laudantium nam nihil quod
            quos soluta veniam voluptate voluptates! Blanditiis consequatur eveniet fugiat illum, provident ratione
            sapiente sed soluta tenetur ut. Animi aperiam asperiores debitis deserunt dicta, dolorum eius excepturi
            exercitationem facilis impedit labore nobis placeat quibusdam sint, totam ut vel voluptate? Accusamus
            aspernatur commodi dolores doloribus expedita hic, illo impedit laborum, molestias nostrum nulla odit
            perferendis reprehenderit repudiandae, sit sunt voluptas? Aliquid corporis, iure laboriosam laudantium odio
            officia optio quas. Architecto, beatae excepturi facere iusto molestias mollitia nam odio omnis perspiciatis
            ut! Accusamus alias assumenda at commodi, ea error est eum fugit inventore labore magni pariatur provident
            quasi quia rem sapiente sint tempora ut voluptas voluptatibus? Ad dicta dignissimos excepturi expedita magni
            nemo pariatur possimus quibusdam repudiandae, tenetur.</p>
        <p id="end-text-policy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deserunt eaque ipsum
            mollitia perspiciatis
            quo saepe soluta, sunt? Accusantium asperiores at blanditiis dignissimos eaque earum eos error et id labore
            magnam maiores minima minus mollitia nihil numquam possimus quia quo, quos repellat repudiandae sint,
            tempore ullam. Consectetur corporis dolores ex libero placeat sed temporibus tenetur voluptatum?</p>
        <h1 id="end-policy"></h1>
        <a id="return" href="{% url "legal" %}">&#8656; Вернуться в каталог</a>
        <h1 id="end-policy"></h1>
    </div>
{% endblock acc-content %}

{% block footer %}{% endblock footer %}

{% block js %}
    <script src="../../../static/about_me/js/privacy-policy.js"></script>
{% endblock %}
