{% extends 'acc-base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" content="страница авторизация разработчик Евгений Гурин.">
    <meta name="keywords" content="Evgeny Gurin, registration, rypy.ru, Python, Django, JS">
{% endblock %}

{% block icon %}
    <link rel="icon" href="{% static 'account/img/Blue-user.ico' %}" type="ico">
{% endblock %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'templates/css/base-header-dark.css' %}">
    <link rel="stylesheet" href="{% static 'templates/css/acc-base-footer.css' %}">
    <link rel="stylesheet" href="{% static 'templates/css/base-footer-dark.css' %}">
{% endblock base_css %}

{% block css %}
    <link rel="stylesheet" href="{% static 'about_me/css/support.css' %}">
{% endblock %}

{% block title %}
    Служба поддержки rypy.ru entertainment
{% endblock %}

{% block login %}
    <a href="{% url 'login' site_redirect='menu' %}">
        <div class="header-login">ВХОД</div>
    </a>
{% endblock %}

{% block logout %}
    <a href="{% url 'menu_logout' %}">
        <div class="header-logout">ВЫХОД</div>
    </a>
{% endblock %}

{% block navbar %}{% endblock %}

{% block acc-content %}
    <div class="content">
        По завершению разработки нескольких сайтов, здесь будет реализавона поддержка по каждому из них.
    </div>
{% endblock acc-content %}

{% block footer %}{% endblock footer %}

{% block js %}{% endblock %}