{% extends 'acc-base.html' %}
{% load static %}


{% block meta %}
    <meta name="description" content="страница авторизация разработчик Евгений Гурин.">
    <meta name="keywords" content="Evgeny Gurin, registration, rypy.ru, Python, Django, JS">
{% endblock %}


{% block icon %}
    <link rel="icon" href="{% static 'app_account/img/login.ico' %}" type="ico">
{% endblock %}


{% block base_css %}
    <link rel="stylesheet" href="{% static 'templates/css/base-header-dark.css' %}">
    <link rel="stylesheet" href="{% static 'templates/css/acc-base-footer.css' %}">
{% endblock base_css %}


{% block css %}
    <link rel="stylesheet" href="{% static 'app_about_me/css/legal.css' %}">
{% endblock %}


{% block title %}
    Разработки от rypy.ru entertainment
{% endblock %}


{% block logout %}
    {% url 'about_me_logout' %}
{% endblock %}

{% block mobile_logout %}
    {% url 'about_me_logout' %}
{% endblock mobile_logout %}


{% block login %}
    {% url 'login' site_redirect='api' %}
{% endblock %}

{% block mobile_login %}
    {% url 'login' site_redirect='api' %}
{% endblock mobile_login %}


{% block navbar %}
{% endblock %}


{% block acc-content %}
    <div class="content">
        123
    </div>
{% endblock acc-content %}


{% block footer %}
{% endblock footer %}


{% block js %}
{% endblock %}