{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}


{% block icon %}
    <link rel="icon" href="{% static 'app_cinema/img/cinema.ico' %}" type="ico">
{% endblock %}


{% block css %}
{% endblock %}


{% block title %}
    cinema
{% endblock %}

{% block login %}
    <a href="{% url 'login' site_redirect='cinema' %}">
        <div class="header-login">ВХОД</div>
    </a>
{% endblock %}

{% block logout %}
    <a href="{% url 'cinema_logout' %}">
        <div class="header-logout">ВЫХОД</div>
    </a>
{% endblock %}

{% block navbar %}
{% endblock %}


{% block content %}
{% endblock %}


{% block footer %}
{% endblock %}


{% block js %}
{% endblock %}