{% extends 'base.html' %}
{% load static %}

{% block meta %}{% endblock %}
{% block icon %}
    <link rel="icon" href="{% static 'templates/img/creation.ico' %}" type="ico">
{% endblock %}

{% block base_css %}{% endblock base_css %}
{% block css %}{% endblock %}

{% block title %}
    Учетная запись rypy.ru
{% endblock %}

{% block header %}{% endblock header %}

{% block navbar %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock footer %}

{% block js %}{% endblock %}
