{% extends 'acc-base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" content="страница авторизация разработчик Евгений Гурин.">
    <meta name="keywords" content="Evgeny Gurin, registration, rypy.ru, Python, Django, JS">
{% endblock %}

{% block icon %}
    <link rel="icon" href="{% static 'account/img/login.ico' %}" type="ico">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'account/css/acc-privacy-policy.css' %}">
{% endblock %}

{% block title %}
    Политики конфиденциальности rypy.ru entertainment
{% endblock %}

{% block navbar %}{% endblock %}

{% block acc-content %}
    <div class="content">

    </div>
{% endblock acc-content %}

{% block footer %}{% endblock footer %}

{% block js %}{% endblock %}
