{% extends 'base.html' %}
{% load static %}

{% block meta %}{% endblock %}

{% block icon %}
    <link rel="icon" href="{% static 'account/img/account.ico' %}" type="ico">
{% endblock %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'templates/css/base-header-dark.css' %}">
    <link rel="stylesheet" href="{% static 'templates/css/base-footer-dark.css' %}">
{% endblock base_css %}

{% block css %}
    <link rel="stylesheet" href="{% static 'account/css/acc-profile.css' %}">
{% endblock %}

{% block title %}
    {% if user.is_authenticated %}
        профиль пользователя {{ user.username }}
    {% else %}
        неавторизованный профиль
    {% endif %}
{% endblock %}

{% block login %}
    <a href="{% url 'login' site_redirect='profile' %}">
        <div class="header-login">ВХОД</div>
    </a>
{% endblock %}

{% block logout %}
    <a href="{% url 'profile_logout' %}">
        <div class="header-logout">ВЫХОД</div>
    </a>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p style="color:green">ВЫ АВТОРИЗОВАНЫ</p>
    {% else %}
        <p style="color:red">ВЫ НЕАВТОРИЗОВАНЫ</p>
    {% endif %}
{% endblock %}

{#{% block footer %}{% endblock footer %}#}

{% block js %}{% endblock %}
