{% extends 'acc-base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" content="страница авторизация разработчик Евгений Гурин.">
    <meta name="keywords" content="Evgeny Gurin, registration, rypy.ru, Python, Django, JS">
{% endblock %}

{% block icon %}
    <link rel="icon" href="{% static 'account/img/login.ico' %}" type="ico">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'account/css/acc-login.css' %}">
{% endblock %}

{% block title %}
    Авторизация rypy.ru
{% endblock %}

{% block header %}{% endblock header %}

{% block navbar %}{% endblock %}

{% block acc-content %}
    <div class="content">
        <h1>rypy.ru</h1>
        <h5>entertainment</h5>
        <form action="" method="POST">{% csrf_token %}
            <div>
                {{ login_error }}
            </div>
            <div class="row5">
                <label for="">
                    <input type="email" name='email' placeholder="Адрес электронной почты" autofocus required>
                </label>
            </div>
            <div class="row6">
                <label for="">
                    <input type="password" name='password' placeholder="Пароль" required>
                </label>
            </div>
            <button type="submit">Вход</button>
            <div class="line">
                <span>Или</span>
            </div>
            <a id="link-acc-creation" href="{% url 'creation' %}">Создайте учетную запись!</a>
        </form>
    </div>
{% endblock acc-content %}

{% block footer %}{% endblock footer %}

{% block js %}{% endblock %}
