{% extends 'base.html' %}
{% load static %}

{% block meta %}{% endblock %}
{% block icon %}
    <link rel="icon" href="{% static 'templates/img/creation.ico' %}" type="ico">
{% endblock %}

{% block base_css %}{% endblock base_css %}
{% block css %}{% endblock %}

{% block title %}
    профиль пользователя {{ user.username }}
{% endblock %}

{% block header %}{% endblock header %}

{% block navbar %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p style="color:blue">ВЫ АВТОРИЗОВАНЫ</p>
    {% else %}
        <p style="color:red">ВЫ НЕ АВТОРИЗОВАНЫ</p>
    {% endif %}
{% endblock %}

{% block footer %}{% endblock footer %}

{% block js %}{% endblock %}
