{% extends 'base.html' %}
{% load static %}

{% block meta %}{% endblock %}
{% block icon %}
    <link rel="icon" href="{% static 'templates/img/login.ico' %}" type="ico">
{% endblock %}

{% block base_css %}{% endblock base_css %}
{% block css %}{% endblock %}

{% block title %}
    Учетная запись rypy.ru
{% endblock %}

{% block header %}{% endblock header %}

{% block navbar %}{% endblock %}

{% block content %}
    <h2>login2</h2>
    <form action="" method="POST">{% csrf_token %}
        <div>
            {{ login_error }}
        </div>
        <div class="auth">
            <label for="">
                <input type="email" name='email' placeholder="Адрес электронной почты" required>
            </label>
        </div>
        <div class="auth">
            <label for="">
                <input type="password" name='password' placeholder="Пароль" required>
            </label>
        </div>
        <button type="submit">Вход</button>
    </form>
{% endblock %}

{% block footer %}{% endblock footer %}

{% block js %}{% endblock %}
