{% extends 'base.html' %}
{% load static %}

{% block meta %}{% endblock meta %}

{% block icon %}{% endblock icon %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'templates/css/base-footer.css' %}">
{% endblock base_css %}

{% block css %}{% endblock css %}

{% block title %}{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="wrapper">
        {% block acc-content %}{% endblock acc-content %}
        <div class="footer">
            <div class="footer-row1">
                <div class="footer-link"><a class="footer-link"  href="#">Вакансии</a></div>
                <div class="footer-link"><a class="footer-link"  href="{% url 'about_me' %}">О компании</a></div>
                <div class="footer-link"><a class="footer-link"  href="#">Поддержка</a></div>
                <div class="footer-link"><a class="footer-link"  href="#">Открыть запрос</a></div>
                <div class="footer-link"><a class="footer-link"  href="#">Пресс-релизы</a></div>
                <div class="footer-link-end"><a class="footer-link"  href="#">api</a></div>
            </div>
            <div class="footer-row2">
                ©rypy.ru entertainment, 2019. Все права защищены.
            </div>
            <div class="footer-row3">
                <div class="footer-link"><a class="footer-link"  href="{% url 'privacy_policy' %}">
                    Политика конфиденциальности</a></div>
                <div class="footer-link-end"><a class="footer-link"  href="#">Соглашения</a></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block js %}{% endblock %}