{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block meta %}{% endblock meta %}

    {% block icon %}{% endblock icon %}

    {% block base_css %}
        <link rel="stylesheet" href="{% static 'templates/css/base-header-dark.css' %}">
    {% endblock base_css %}

    {% block css %}{% endblock css %}

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block header %}
        <div class="shadow"></div>
        <div class="header">
            <div class="header-desktop">
                <a href="{% url 'about_me' %}">
                    <div class="header-logo">rypy.ru</div>
                </a>
                <div class="header-items">
                    <div class="header-menu">МОИ САЙТЫ
                        <div id="arrow">&#709</div>
                    </div>
                    <a href="#">
                        <div class="header-news">НОВОСТИ</div>
                    </a>
                    <a href="#">
                        <div class="header-faq">FAQ</div>
                    </a>
                    <a href="#">
                        <div class="header-look">СМОТРЕТЬ</div>
                    </a>
                    <a href="#">
                        <div class="header-forum">ФОРУМ</div>
                    </a>
                    <a href="#">
                        <div class="header-help">ПОМОЩЬ</div>
                    </a>
                </div>
                <div class="header-profileItems">
                    <ul class="header-profileItems-menu">
                        <li><a href=#>1234</a>
                            <ul class="submenu">
                                <li><a href=#>Sudmenu 1</a></li>
                                <li><a href=#>Sudmenu 2</a></li>
                                <li><a href=#>Sudmenu 3</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="header-profileItems-menu">
                        <li>1234
                            <ul class="submenu">
                                <li><a href=#>Sudmenu 1</a></li>
                                <li><a href=#>Sudmenu 2</a></li>
                                <li><a href=#>Sudmenu 3</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                        {% block logout %}

                                <div class="header-logout">ВЫХОД</div>

                        {% endblock logout %}
                    {% else %}
                        {% block login %}
                            <a href="#">
                                <div class="header-login">ВХОД</div>
                            </a>
                        {% endblock login %}
                    {% endif %}
                </div>
            </div>
            <div class="hidden-menu">
                <a href="{% url 'menu' %}">
                    <div class="header-logo">rypy.ru</div>
                </a>
            </div>
        </div>
    {% endblock header %}

    {% block navbar %}{% endblock navbar %}

    {% block content %}{% endblock content %}

    {% block footer %}{% endblock footer %}

    {% block js_header %}
        <script src="{% static "templates/js/base-header.js" %}"></script>
    {% endblock js_header %}

    {% block js %}{% endblock js %}
</body>
</html>



