{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    {% block icon %}{% endblock %}
    {% block css %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    {% block navbar %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>