{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}


{% block icon %}
    <link rel="icon" href="{% static 'art3d/img/art3d.ico' %}" type="ico">
{% endblock %}


{% block css %}
{% endblock %}


{% block title %}
    ART 3D
{% endblock %}

{% block login %}
    <a href="{% url 'login' site_redirect='art3d' %}">
        <div class="header-login">ВХОД</div>
    </a>
{% endblock %}

{% block logout %}
    <a href="{% url 'art3d_logout' %}">
        <div class="header-logout">ВЫХОД</div>
    </a>
{% endblock %}


{% block navbar %}
{% endblock %}


{% block content %}
    {% if user.is_authenticated  %}
        authenticated
    {% else %}
        not authenticated
    {% endif %}

    <video autoplay loop muted width="100px" height="44px">
        <source src="{% static "art3d/media/Ascendant_One.mp4" %}" type="video/mp4">
    </video>


{% endblock %}


{% block js %}
{% endblock %}
