{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}


{% block icon %}
    <link rel="icon" href="{% static 'art3d/img/art3d.ico' %}" type="ico">
{% endblock %}


{% block css %}
{% endblock %}


{% block title %}
    ART 3D
{% endblock %}

{% block login %}
    <a href="{% url 'login' site_redirect='art3d' %}">
        <div class="header-login">ВХОД</div>
    </a>
{% endblock %}

{% block logout %}
    <a href="{% url 'art3d_logout' %}">
        <div class="header-logout">ВЫХОД</div>
    </a>
{% endblock %}


{% block navbar %}
{% endblock %}


{% block content %}
    {% if user.is_authenticated  %}
        authenticated
    {% else %}
        not authenticated
    {% endif %}

    <video autoplay loop muted width="900px" height="500px">
        <source src="https://coubsecure-s.akamaihd.net/get/b112/p/coub/simple/cw_file/b1edf5b9cb4/b0c1f72bf08dbfd29797c/gifv_1546901216_12255006_gifv.mp4" type="video/mp4">
    </video>


    <video autoplay loop muted width="900px" height="500px">
        <source src="https://coubsecure-s.akamaihd.net/get/b116/p/coub/simple/cw_file/812ce050eb4/389eb5b7f5cfe4a04dbdc/gifv_1536043266_262937109_gifv.mp4" type="video/mp4">
    </video>


    <video autoplay loop muted width="900px" height="500px">
        <source src="https://coubsecure-s.akamaihd.net/get/b186/p/coub/simple/cw_file/3fa831ca018/378fb7e638f14ee5fa42b/gifv_1541707680_126677_gifv.mp4" type="video/mp4">
    </video>


    <video autoplay loop muted width="900px" height="500px">
        <source src="https://coubsecure-s.akamaihd.net/get/b92/p/coub/simple/cw_file/07a1c4c27ad/76353fb483768d1fcfa3d/gifv_1541549431_852461_gifv.mp4" type="video/mp4">
    </video>

     <video autoplay loop muted width="900px" height="500px">
        <source src="https://coubsecure-s.akamaihd.net/get/b185/p/coub/simple/cw_file/0f8f673ed76/69c58dfce8988e278b8ef/gifv_1503671066_15750417_gifv.mp4" type="video/mp4">
    </video>






{% endblock %}


{% block js %}
{% endblock %}
