{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/../../../static/art3d/art3d.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <title>
        {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    <div class="container">
        {% block menu %}{% endblock %}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{%  static 'js/../../../static/menu/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%  static 'js/popper.js' %}"></script>
    <!-- <script src="{% static 'js/../../../static/menu/css/bootstrap.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/art3d/../../../static/images/art3d/js/art3d.js' %}"></script>
  </body>
</html>
