@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
  box-sizing: border-box;
}

.img {
    display: block;
    position: absolute;
}

p {
    display: none;
    color: #17181a;
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, 'Comic Sans MS', sans-serif, Arial;
    font-size: 18px;
    text-shadow: 1px 1px 4px #13baff, 1px 0 4px #13baff, 0 1px 4px #13baff, -1px -1px 4px #13baff;
}

#img1 {
    top: 150px;
    left: 730px;
}

#img2 {
    top: 260px;
    left: 560px;
}
#img3 {
    top: 390px;
    left: 730px;
}

#img4 {
    top: 260px;
    left: 600px;
}

#img5 {
    top: 330px;
    left: 740px;
}

#img6 {
    top: 270px;
    left: 730px;
}

#img7 {
    top: 390px;
    left: 880px;
}

#img8 {
    top: 380px;
    left: 940px;
}

#img9 {
    top: 470px;
    left: 1100px;
}

#img10 {
    top: 390px;
    left: 790px;
}

#img11 {
    top: 470px;
    left: 900px;
}

#img12 {
    top: 390px;
    left: 850px;
}

#img13 {
    top: 370px;
    left: 1050px;
}

#img14 {
    top: 260px;
    left: 930px;
}

#img15 {
    top: 150px;
    left: 830px;
}

.content {
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    background: url("../img/hexagon.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hexagon {
    position: relative;
    width: 120px;
    height: 213px;
    background-size: auto 334px;
    background-position: center;
    border-top: solid 4px rgba(0, 0, 0, 0.15);
    border-bottom: solid 4px rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 0 0 rgba(23, 166, 223, 0.55);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.hexagon:after {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    width: 116px;
    height: 205px;
    z-index: 2;
    background: inherit;
}

.hexLeft {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleX(0.5799) rotate(-45deg);
    background: inherit;
    left: -75px;
    bottom: 28px;
    border-top: solid 5px rgba(8, 8, 8, 0.25);
    border-left: solid 5px rgba(8, 8, 8, 0.30);
    box-shadow: 0 0 0 0 rgba(23, 166, 223, 0.55);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.hexLeft:after {
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-80.7158px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
    transform: rotate(45deg) scaleX(1.7321) translateX(-332px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
    background-position: center left;
}

.hexRight {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleX(0.5799) rotate(-45deg);
    background: inherit;
    top: 28px;
    left: 45px;
    border-bottom: solid 5px rgba(8, 8, 8, 0.75);
    border-right: solid 5px rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 0 0 rgba(23, 166, 223, 0.55);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.hexRight:after {
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-80.7158px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
    transform: rotate(45deg) scaleX(1.7321) translateX(-177px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
    background-position: center right;
}

.hexagon.hexagon1 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 50px;
    left: 310px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon1 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon1 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon2 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 170px;
    left: 110px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon2 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon2 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon3 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 290px;
    left: 310px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon3 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon3 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon4 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 410px;
    left: 110px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon4 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon4 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon5 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 530px;
    left: 310px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon5 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon5 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon6 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 410px;
    left: 510px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon6 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon6 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon7 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 650px;
    left: 510px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon7 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon7 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon8 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 530px;
    left: 710px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon8 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon8 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon9 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 650px;
    left: 910px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon9 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon9 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon10 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 530px;
    left: 1110px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon10 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon10 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon11 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 650px;
    left: 1310px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon11 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon11 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon12 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 530px;
    left: 1510px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon12 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon12 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon13 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 410px;
    left: 1710px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon13 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon13 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon14 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 170px;
    left: 1710px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon14 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon14 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon15 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 50px;
    left: 1510px;
    -webkit-filter: brightness(60%) saturate(50%);
    filter: brightness(60%) saturate(50%);
}

.hexagon15 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon15 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon:hover {
    box-shadow: 0 0 30px 2px rgba(23, 166, 223, 0.55);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-filter: none;
    filter: none;
    z-index: 10;
}

.hexagon:hover > div {
    box-shadow: 0 0 30px 2px rgba(23, 166, 223, 0.55);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}


@media (min-width: 2560px) {
    a {
    position: absolute;
    top: 20%;
    left: 10%;
    }
}


@media (max-width: 2560px) {
    a {
    position: absolute;
    top: 20%;
    left: 10%;
    }
}


@media (max-width: 1920px) {
    a {
    position: absolute;
    top: 0;
    left: 0;
    }
}
