@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

* {
  box-sizing: border-box;
}

.content {
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    background: url("../img/hexagon.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.hexagon {
    position: relative;
    width: 120px;
    height: 213px;
    background-size: auto 334px;
    background-position: center;
    border-top: solid 4px rgba(0, 0, 0, 0.15);
    border-bottom: solid 4px rgba(0, 0, 0, 0.65);
    transition: .5s;
}

.hexagon:after {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    width: 116px;
    height: 205px;
    z-index: 2;
    background: inherit;
}

.hexagon:hover {
    box-shadow: 0 0 30px 2px rgba(23, 166, 223, 0.55);
    transform: scale(1.1);
    transition: .5s;
    z-index: 20;
}

.hexagon:hover > div {
    box-shadow: 0 0 30px 2px rgba(23, 166, 223, 0.55);
    transition: .5s;
}

.hexLeft {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleX(0.5799) rotate(-45deg);
    background: inherit;
    left: -75px;
    bottom: 28px;
    border-top: solid 5px rgba(8, 8, 8, 0.25);
    border-left: solid 5px rgba(8, 8, 8, 0.30);
}

.hexLeft:after {
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-80.7158px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
    transform: rotate(45deg) scaleX(1.7321) translateX(-332px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
    background-position: center left;
}

.hexRight {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleX(0.5799) rotate(-45deg);
    background: inherit;
    top: 28px;
    left: 45px;
    border-bottom: solid 5px rgba(8, 8, 8, 0.75);
    border-right: solid 5px rgba(0, 0, 0, 0.65);
}

.hexRight:after {
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-80.7158px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
    transform: rotate(45deg) scaleX(1.7321) translateX(-177px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
    background-position: center right;
}

.hexagon.hexagon1 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: 50px;
    left: 320px;
}

.hexagon1 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon1 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon2 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    top: -40px;
    left: 120px;
}

.hexagon2 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon2 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon3 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    bottom: -130px;
    left: 320px;
}

.hexagon3 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon3 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon4 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    bottom: 220px;
    left: 120px;
}

.hexagon4 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon4 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon5 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    bottom: 310px;
    left: 320px;
}

.hexagon5 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon5 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon6 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    bottom: 400px;
    left: 520px;
}

.hexagon6 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon6 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon7 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    bottom: 860px;
    left: 520px;
}

.hexagon7 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon7 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon8 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    bottom: 950px;
    left: 720px;
}

.hexagon8 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon8 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}

.hexagon.hexagon9 {
    background: url(../../art3d/img/Character_3D_1.jpg) left -70px top -27px no-repeat;
    background-size: 560px;
    bottom: 1340px;
    left: 120px;
}

.hexagon9 .hexLeft:after {
    top: 252px;
    left: 535px;
    width: 398px;
    height: 600px;
}

.hexagon9 .hexRight:after {
    top: 11px;
    left: 279px;
    width: 492px;
    height: 577px;
}
