{% extends 'acc-base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" content="страница авторизация разработчик Евгений Гурин.">
    <meta name="keywords" content="Evgeny Gurin, registration, rypy.ru, Python, Django, JS">
{% endblock %}

{% block icon %}
    <link rel="icon" href="{% static 'app_account/img/Green-balloon.ico' %}" type="ico">
{% endblock %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'templates/css/base-header-dark.css' %}">
    <link rel="stylesheet" href="{% static 'templates/css/acc-base-footer.css' %}">
{% endblock base_css %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app_about_me/css/contact.css' %}">
{% endblock %}

{% block title %}
    Наши контакты
{% endblock %}

{% block login %}
    <a id="header-link-login" href="{% url 'login' site_redirect='contact' %}">Вход</a>
{% endblock %}

{% block logout %}
    <a id="header-link-logout" href="{% url 'about_me_logout' %}">Выход</a>
{% endblock %}

{% block navbar %}{% endblock %}

{% block acc-content %}
    <div class="wrapper">
        <div class="content">
            <div class="text">
                Отправте нам ваш вопрос и мы обязательно ответим на него
            </div>
            <form method="post">{% csrf_token %}
                <div class="app">
                    <label>
                        <input type="text" name="application" value="{{ page }}" style="display:none"/>
                    </label>
                </div>
                <div class="message">
                    <div class="contacts">
                        <div class="name">
                            <label>
                                <input type="text" name="name"  id="name" placeholder="Ваше имя" required>
                            </label>
                        </div>
                        <div class="email">
                            <label>
                                <input type="email" name="email" id="email" placeholder="Ваш емейл" required>
                            </label>
                        </div>
                        <div class="subject">
                            <label>
                                <input type="text" name="subject" id="subject" placeholder="Тема сообщения" required>
                            </label>
                        </div>
                    </div>
                    <div class="text-message">
                        <textarea name="message" placeholder="Сообщение" required></textarea>
                        <button type="submit">Отправить сообщение</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock acc-content %}

{% block footer %}{% endblock footer %}

{% block js %}{% endblock %}