{% extends 'acc-base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" content="страница авторизация разработчик Евгений Гурин.">
    <meta name="keywords" content="Evgeny Gurin, registration, rypy.ru, Python, Django, JS">
{% endblock %}

{% block icon %}
    <link rel="icon" href="{% static 'app_menu/img/menu.ico' %}" type="ico">
{% endblock %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'templates/css/base-header-dark.css' %}">
    <link rel="stylesheet" href="{% static 'templates/css/acc-base-footer.css' %}">
{% endblock base_css %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app_about_me/css/license_agreement.css' %}">
{% endblock %}

{% block title %}
    Лицензионное Соглашение rypy.ru entertainment
{% endblock %}

{% block login %}
    <a id="header-link-login" href="{% url 'login' site_redirect='about_me' %}">Вход</a>
{% endblock %}

{% block logout %}
    <a id="header-link-logout" href="{% url 'about_me_logout' %}">Выход</a>
{% endblock %}

{% block navbar %}{% endblock %}

{% block acc-content %}
    <div class="content">
        {% if site == "rypy" %}
            <div class="license_agreement">Лицензионное Соглашение rypy.ru с Конечным Пользователем</div>
        {% else %}
            <div class="license_agreement">Лицензионное Соглашение {{ site }}</div>
        {% endif %}
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aliquam iusto minus nostrum odit,
            saepe sequi soluta sunt veniam. Amet eius facere facilis fugiat illo illum ipsum quia soluta ullam. Aliquid
            architecto beatae consequatur dicta dignissimos dolorem doloribus eius eligendi et expedita illum minima
            nisi optio quae quibusdam quis, saepe sequi ut voluptate voluptatum! Eligendi eos ex laborum minus quia quis
            quod veritatis vitae? Ducimus illum molestiae rerum ut vel? Amet consequuntur, cum, doloremque doloribus
            enim esse exercitationem impedit nostrum numquam optio pariatur porro quaerat quam quia quibusdam rem sequi,
            vitae. Alias aliquam aperiam consequatur ea earum explicabo fugiat fugit incidunt, inventore itaque, laborum
            magnam molestias nam natus neque nesciunt obcaecati odio quas, qui quod recusandae sapiente vero
            voluptatibus! Aliquam animi, architecto autem consequatur consequuntur culpa cupiditate debitis dicta
            dignissimos eveniet facilis fugit ipsa iusto laboriosam minima mollitia, nemo non officia officiis optio
            perspiciatis quis quod ratione, saepe sit tempore voluptatem. A, accusamus ad aliquid atque cupiditate
            distinctio dolorum et exercitationem nobis, placeat porro recusandae tempore. Aliquam distinctio dolores
            itaque neque perferendis quis tempore voluptate! Commodi dolore esse ipsa minima neque perferendis
            praesentium quis quisquam, reprehenderit. Ab ad deleniti, dolore facere fuga id incidunt iste iure,
            iusto magni saepe sapiente sunt velit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda culpa deserunt eaque, eligendi eveniet
            harum id iusto molestiae molestias nihil nisi officiis perferendis soluta unde. Culpa dignissimos dolor
            eaque, facilis hic odit rem sapiente! Ab accusamus aliquid cupiditate debitis deleniti doloremque, dolores
            ea est et exercitationem illum labore laudantium modi nihil nostrum nulla officia quae qui quia recusandae
            rem reprehenderit repudiandae sapiente sunt vel vero voluptatibus! Accusamus adipisci consequatur
            consequuntur corporis dicta distinctio doloribus earum esse harum illum iusto natus nesciunt nostrum placeat
            porro provident, reiciendis temporibus ullam. Ab aliquam aliquid asperiores beatae, consequuntur cumque
            deserunt ducimus error eum eveniet fugiat in inventore laboriosam, libero maiores minima modi molestias odit
            omnis perspiciatis porro quisquam ratione repudiandae sequi sit tempore ut? Assumenda atque commodi cumque
            cupiditate delectus distinctio, earum eos ex facere fuga fugiat ipsa ipsam itaque maxime modi molestias,
            mollitia natus nulla officiis perferendis porro provident quaerat reprehenderit sapiente sequi sint suscipit
            tempore temporibus, unde veniam. Consectetur culpa deleniti dolor dolorum laborum nulla quisquam recusandae
            sed, sequi voluptate? A ab alias consectetur culpa delectus dolore ducimus earum eveniet excepturi
            exercitationem explicabo facilis fuga, fugit hic impedit in incidunt laudantium magni minima modi mollitia
            nam neque, nesciunt nihil nisi numquam placeat porro praesentium qui quia quibusdam quidem rerum soluta
            suscipit tempore vitae voluptates. Aut ducimus harum ipsam labore modi! Animi assumenda corporis doloremque
            dolores ducimus eaque est facere facilis fugit ipsum modi nemo nulla obcaecati officia omnis possimus quasi
            qui quia quibusdam sapiente, sed similique tempora tempore temporibus voluptatem! A ab accusamus aliquam
            aliquid amet dolor doloremque eius eum ex, fuga, ipsam natus nulla provident. Accusantium ad, aperiam at
            culpa dolorem, dolores hic iste minus nihil pariatur placeat quam quibusdam temporibus vitae voluptatem?
            Aliquid asperiores commodi culpa dicta distinctio dolor, ea error ex explicabo facilis, inventore ipsam
            itaque maiores neque nobis non nostrum obcaecati placeat quae quas quis quisquam repellat sequi soluta sunt
            tenetur vel vero voluptas voluptates voluptatibus. Accusamus aut consequuntur cum distinctio eos eum ipsa
            libero modi, nobis nulla perferendis quo, ratione repudiandae tempora voluptatibus. A ad aliquid dolores ex
            provident, quasi quod! Accusamus accusantium autem consectetur distinctio, doloremque ea facilis fuga fugit
            illo in maiores molestias necessitatibus neque nihil non quasi quis quod recusandae reprehenderit rerum. Aut
            autem commodi corporis, dolore ex incidunt ipsum iusto maiores odio pariatur qui, quidem recusandae
            repellat. Accusamus ad animi aut autem corporis ea earum eum, mollitia non obcaecati quasi qui recusandae
            reiciendis suscipit vel. Ad alias amet aspernatur autem beatae cumque cupiditate debitis, dignissimos,
            distinctio eaque eligendi et harum hic illum ipsum iure, iusto laborum laudantium magnam nobis quas quasi
            reiciendis sed tempora ut veniam voluptatum? Assumenda eum laboriosam repellat sapiente voluptatem? A,
            animi aperiam est modi nam odio quae. Amet aperiam aspernatur culpa dignissimos in nam nemo, nobis nostrum,
            porro quis repellat sed unde veritatis. Ab, accusamus aperiam assumenda, cum eligendi expedita fugiat in
            iste labore minima neque nobis nulla numquam omnis, pariatur quibusdam quod recusandae sapiente soluta
            ullam vitae.</p>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quasi sint!</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi cumque deserunt dolorum
            eligendi eum hic iusto labore laboriosam magni nulla odio optio pariatur provident quae quaerat, quasi
            similique sint sit soluta suscipit ullam ut voluptatem voluptatibus voluptatum. Accusamus, asperiores
            assumenda beatae commodi dignissimos eligendi incidunt iure quidem sapiente soluta. Aperiam est eveniet
            facere ipsum natus nesciunt, numquam odio quibusdam quis unde. Ab, animi consequatur corporis debitis
            doloremque eaque eos est facilis fuga id in labore modi nihil nulla porro praesentium quam quasi qui
            quod ratione repellat reprehenderit repudiandae tempore temporibus voluptatibus? Accusamus cupiditate
            illum inventore laudantium maxime mollitia, natus nobis praesentium sed. Ab ad adipisci commodi, cupiditate
            incidunt libero natus odit possimus tempore vero? Corporis cumque laboriosam minima neque non odio officia
            praesentium ratione veritatis vero. Consectetur eaque illo labore nihil voluptates? A accusantium aspernatur
            debitis ea eius in, ipsa ipsum minus necessitatibus non nulla obcaecati, qui quod repellendus sint sunt
            tempora velit veniam voluptas voluptates. Ab ad adipisci dolorem doloribus dolorum eaque et fugit illum in
            itaque maxime non, obcaecati omnis optio perferendis placeat ratione vitae voluptas voluptate, voluptates!
            Ad autem blanditiis earum enim eveniet ex, in mollitia! Debitis facere, hic incidunt inventore iste optio
            quis reprehenderit sunt ullam voluptatem? Aliquid amet at dolor doloremque dolorum ea earum enim
            exercitationem expedita fugit libero nam necessitatibus, neque possimus, qui repellat repudiandae!
            Aliquam rerum sequi voluptate! Blanditiis, commodi cum dicta dolorem doloribus error et fugiat in
            ipsa iure laboriosam laborum libero maiores molestias nulla porro, reiciendis repellendus, sequi
            similique soluta tempora totam unde. Beatae earum eum facilis fugiat harum hic id, quibusdam repellat
            reprehenderit saepe sed sit suscipit vitae voluptatem voluptates. A ab atque consectetur consequuntur
            cum delectus dignissimos distinctio dolores dolorum ducimus eligendi error eveniet expedita fugiat hic
            ipsam maiores molestiae natus neque nisi nobis non officia omnis optio placeat possimus provident quaerat
            quam quisquam ratione, rerum sapiente sequi tenetur unde voluptates voluptatibus voluptatum. Deleniti
            dolores esse ipsam laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ea quo voluptas.</p>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur cum dicta, dolorem
            doloremque error esse et explicabo hic impedit inventore iste itaque laboriosam laudantium libero minima
            nemo nostrum obcaecati omnis quam rem soluta sunt suscipit velit veniam? At ipsum modi placeat quaerat
            quidem recusandae reiciendis. Ab accusamus ad aspernatur consequuntur cum distinctio dolor dolore est,
            eum facilis fugiat hic impedit in iusto nam necessitatibus numquam omnis optio perspiciatis placeat quas
            quidem quo quod ratione saepe sint voluptatibus voluptatum. Amet, aut dolore dolorum eius est excepturi
            iure laborum, magni, maxime nemo neque pariatur praesentium quaerat quia repellendus sequi sit suscipit
            tempore unde vel vitae voluptas voluptatem! Facere fugit molestiae neque, nulla quis reiciendis rem
            voluptate? Ad amet delectus est quasi sit tempora tempore tenetur velit. A ab dolorem, dolorum ea eveniet
            facere ipsam laboriosam natus, nisi, obcaecati odio omnis praesentium quaerat reiciendis sapiente sint
            temporibus. Aliquid aperiam debitis eaque exercitationem id iste magni minima natus nesciunt optio quisquam
            rem, sed, sunt unde voluptas. Accusantium consectetur distinctio eaque mollitia quia rem veritatis voluptate
            voluptates! Alias aut cupiditate dignissimos dolorem doloribus eum ipsa nam odio officiis, rem sapiente sed
            sunt? Aspernatur, molestiae.</p>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, esse, rerum.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur consequatur dicta dolores
            explicabo ipsam, iure iusto laudantium magnam odio qui, quidem reprehenderit? Consequuntur ea earum eius
            error et fuga nobis quae repudiandae rerum saepe sed sequi, sint sit temporibus voluptates. Blanditiis,
            doloremque ex explicabo harum impedit iusto libero, magnam natus pariatur quidem rem rerum similique,
            tenetur. Aliquid at beatae doloremque eaque inventore labore natus nesciunt nulla odit pariatur praesentium,
            provident recusandae sit, ut veniam! Aliquam aspernatur aut beatae consequatur cupiditate eius, eos
            excepturi labore maiores nostrum optio qui quidem quo repellendus sapiente similique suscipit totam
            vitae? Blanditiis delectus doloremque eligendi excepturi itaque maiores obcaecati, voluptatibus. Commodi!
        </p>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab fugit soluta tempora!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius esse explicabo fugiat illum libero
            officia, omnis, quas quidem quisquam sequi similique? Ex impedit necessitatibus nobis officiis placeat
            porro quo tempore tenetur. Esse fuga mollitia nesciunt. Adipisci autem excepturi exercitationem ipsum
            laborum nam porro? Ab deleniti exercitationem, explicabo impedit ipsam minima molestiae natus, nemo nisi
            nostrum officiis qui recusandae. Amet at ea incidunt ipsam placeat quisquam rerum veritatis! Accusamus
            adipisci aliquam architecto atque aut consequuntur cumque delectus deleniti doloribus dolorum eius ex fuga
            id ipsa magni modi nam natus necessitatibus nemo nihil, nobis odit quia, quidem quod quos recusandae
            similique temporibus vel veritatis vero. Aperiam debitis, expedita fugiat illo illum ipsam, itaque natus
            quibusdam recusandae, suscipit tenetur vitae. Totam, voluptatibus!</p>
        <p id="end-text-license-agreement">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, enim incidunt molestias omnis repellat
            sint sunt! Accusantium, animi architecto at cupiditate delectus, explicabo id labore, magnam minus officia
            perspiciatis quasi quia quibusdam temporibus voluptatibus.</p>
        <h1 id="end-license-agreement"></h1>
        <a id="return" href="{% url "legal" %}">&#8656; Вернуться в каталог</a>
        <h1 id="end-license-agreement"></h1>
    </div>
{% endblock acc-content %}

{% block footer %}{% endblock footer %}

{% block js %}{% endblock %}