{% extends 'acc-base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" content="страница регистрации разработчик Евгений Гурин.">
    <meta name="keywords" content="Evgeny Gurin, registration, rypy.ru, Python, Django, JS">
{% endblock %}
{% block icon %}
    <link rel="icon" href="{% static 'app_account/img/creation.ico' %}" type="ico">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app_account/css/acc-confirm-email.css' %}">
{% endblock %}

{% block title %}
    Учетная запись rypy.ru
{% endblock %}

{% block header %}{% endblock header %}

{% block navbar %}{% endblock navbar %}

{% block acc-content %}
    <div class="content">
        <h1>rypy.ru</h1>
        <h5>entertainment</h5>
        <div class="row1">
            <div class="circle"></div>
        </div>
        <div class="row2">Спасибо!</div>
        <div class="info">Ваше сообщение успешно отправлено в нашу службу поддержки.</div>
        <div class="row3">Для обратной связи вы указали следующий e-mail:</div>
        <div class="email">{{ email }}</div>
        <div class="row4">В случае вопроса мы ответим вам на этот адрес. </div>
    </div>
{% endblock acc-content %}

{% block footer %}{% endblock footer %}

{% block js %}{% endblock %}